/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    // @include padding-tb($alpha-leading,0);
    @include padding-tb(0,0);
    @include padding-lr($columns-gutter,$columns-gutter);
}

.c-row--md {
    @include padding-tb(2,2);
    @include padding-lr(2,2);
}

.c-row--alpha {
    background-color: palette(color-neutral,x-light);
}

.c-row--beta {
    color: palette(color-neutral,light);
    background-color: palette(color-neutral,dark);
}

.c-row--ghost {
    background-color: rgba(255, 255, 255, .95);
}
