/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/
.c-nav--top {
    position: relative;
}
.c-nav-main {
    width: 100%;
    float: left;
    display: none;
    font-family: $alpha-font-family;

    @include mq(bp3) {
        display: block;
        width: auto;
        float: right;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-main__list {
        // border-top: 1px dotted palette(color-neutral,light);
        // border-bottom: 1px dotted palette(color-neutral,light);
        @include margin-bottom(1);

        @include mq(bp2) {
            @include margin-bottom(0);
        }

        @include mq(bp3) {
            border-top: 0;
            margin-bottom: 0;
        }
    }

    .c-nav-main__item {

        text-transform: uppercase;
        letter-spacing: .0125rem;
        @include padding-tb(.5,.5);

        & + & {
            border-top: 1px dotted palette(color-neutral,light);
        }

        @include mq(bp3) {
            @include padding-tb(0,0);
            float: left;

            & + & {
                border-top: 0;
                @include margin-lr(2,0);
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-neutral, x-dark);
        text-decoration: none;
        font-weight: $beta-font-weight;
        @include text-dimensions($ms1,1,0,.25,.25);

        @include mq(bp3) {
            @include padding-tb(1.25,1.25);
        }

        .is-selected & {
            color: palette(color-gamma);
        }

        &:hover {
            color: palette(color-neutral);
            text-decoration: none;
        }
    }

.c-nav-main-trigger {
    position: relative;
    width: 100%;
    right: 0;

    @include mq(bp2) {
        position: absolute;
        // right: 1em;
        width: auto;
    }

    user-select: none;
    display: block;

    color: palette(color-alpha);
    background-color: palette(color-neutral,x-light);
    border: 1px solid palette(color-alpha);
    outline: 0;
    // border-radius: $radius;

    line-height: 1.5rem;
    font-size: 1rem;
    font-family: $alpha-font-family;
    text-transform: uppercase;
    font-size: 1rem;

    margin: .70rem 0;
    padding: .5rem;

    svg {
        vertical-align: baseline;
        margin-bottom: -1px;
    }

    &.is-active {
        color: palette(color-neutral,x-light);
        background-color: palette(color-alpha);
    }

    @include mq(bp3) {
        display: none;
    }
}
