/*
    Shame
    ---
    Hacks and quick fixes
*/
.u-x-small {
    @include text-dimensions($ms-2,1);
}

// .c-section {
//     border: 1px solid red;
//     width: 100%;
//     height: 100%;
// }


.c-stage {
    display: flex;
    align-items: center;

    min-height: calc(100vh - 88px);
    max-width: 1200px;
    margin: 0 auto;

    border-left: 20px solid rgba(255,255,255,1);
    border-right: 20px solid rgba(255,255,255,1);
}

    .c-stage--four {
        align-items: stretch;
        // border: 1px solid black;
        flex-wrap: wrap;


        .c-section {
            flex-basis: 100%;
            flex-grow: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            background:
                linear-gradient( 135deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, .75) ),
                linear-gradient( -45deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, .75) ),
                url('../img/jpg/bg.jpg');

            background-repeat: no-repeat;
            background-position: 50%;
            background-color: #000;
            background-size: cover;

            border-top: 10px solid white;
            border-bottom: 10px solid white;


            @include mq(bp3) {
                flex-basis: 50%;
                flex-grow: 1;

                border: 10px solid white;
                // width: 50%;
                background-size: cover;
                background-position: 50%;

            }
        }
    }

        .c-section-title {
            width: auto;
            height: auto;
            color: palette(color-neutral);
            border: 0;
            @include padding-bottom(1);
            @include padding-top(1);
            margin-bottom: 0;
            // @include text-dimensions($alpha-font-size,1,2);
        }

    .c-stage--home {
        color: rgb(220, 220, 220);
        background:
            linear-gradient( 135deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, .75) ),
            linear-gradient( -45deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, .75) ),
            url('../img/jpg/bg.jpg');

        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 50%;
        background-color: #000;

        @include mq(bp3) {
            background-position: 50%;
            background-size: cover;
        }
    }

    .c-stage__wrapper {
        margin: 0 auto;

        display: flex;
        justify-content: flex-end;
        text-align: center;

        width: 80%;
    }

    .c-stage__title {
        font-family: $fjalla-font-family;
        font-weight: 800;
        font-size: 3.25rem;
        text-transform: uppercase;
    }

    .c-stage__tagline {
        font-family: $philosopher-font-family;
    }

    .c-footer--wrapper {
        p {
            margin-bottom: 0;
        }
    }
