/*
    Shame
    ---
    Hacks and quick fixes
*/
.u-x-small {
    @include text-dimensions($ms-2);
}

    .c-main {
        color: rgb(220, 220, 220);
        // text-align: right;
        // padding-right: 10rem;
        background: linear-gradient( 135deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, 0.75) ), linear-gradient( -45deg, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, .75) ),
        url('../img/jpg/bg.jpg');

        min-height: calc(100vh - 88px);
        display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        align-items: center;

        // c-homepage
        // background-image: url('../img/jpg/bg.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 50%;
        background-color: #000;

        max-width: 1200px;
        margin: 0 auto;
        border-left: 20px solid rgba(255,255,255,1);
        border-right: 20px solid rgba(255,255,255,1);

        @include mq(bp3) {
            background-position: 50%;
            background-size: cover;
        }


        .c-main__wrapper {
            margin: 0 auto;
            // width: 100%;

            display: flex;
            justify-content: flex-end;
            text-align: center;

            // background: rgba(5, 5, 5, .15);
            width: 80%;

        }
    }

    .c-main__title {
        // font-family: $pathway-font-family;
        // font-weight: 800;
        // font-size: 4rem;

        // font-family: $oswald-font-family;
        // font-weight: 300;
        // font-size: 3rem;
        // text-transform: uppercase;

        // font-family: $cuprum-font-family;
        // font-weight: 800;
        // font-size: 3.5rem;
        // text-transform: lowercase;

        font-family: $fjalla-font-family;
        font-weight: 800;
        font-size: 3.25rem;
        text-transform: uppercase;
    }

    .c-main__tagline {
        font-family: $philosopher-font-family;
    }

    .c-footer--wrapper {
        p {
            margin-bottom: 0;
        }
    }
