
<form action="#" method="post">
    <h3>Contact me </h3>

    <fieldset class="o-grid o-grid--gutter">
        <div class="o-grid__item u-1-of-2-bp3">
            <label for="name" class="c-label u-mb-beta">Name<abbr title="Required field">*</abbr></label>
            <input type="text" class="c-input-text c-input-text--md u-mb-gamma" placeholder="Full Name" id="name"/>
        </div>
        <div class="o-grid__item u-1-of-2-bp3">
            <label for="email" class="c-label u-mb-beta">Email address<abbr title="Required field">*</abbr></label>
            <input type="email" class="c-input-text c-input-text--md u-mb-gamma" placeholder="email@address.com" id="email"/>
        </div>
        <div class="o-grid__item">
            <label for="form-field-4" class="c-label u-mb-beta">Message<abbr title="Required field">*</abbr></label>
            <textarea class="c-input-text c-input-text--md u-mb-delta" id="form-field-4" rows="5" cols="30"></textarea>
        </div>
        <div class="o-grid__item">
            <input type="submit" class="c-button c-button--md c-button--alpha" value="Send" />
        </div>
    </fieldset>
</form>
