
<form action="#" method="post">
    <h3>Contact me </h3>

    <fieldset>
        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-2-bp3">
                    <label class="c-label">Name<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md" placeholder="Full Name" />
                </div>
                <div class="o-grid__item u-1-of-2-bp3">
                    <label class="c-label">Email address<abbr title="Required field">*</abbr></label>
                    <input type="email" class="c-input-text c-input-text--md" placeholder="email@address.com" />
                </div>
            </div>
        </p>
        <p>
            <label for="form-field-4" class="c-label">Message<abbr title="Required field">*</abbr></label>
            <textarea class="c-input-text c-input-text--md" id="form-field-4" rows="5" cols="30"></textarea>
        </p>
        <p>
            <input type="submit" class="c-button c-button--md c-button--alpha" value="Send" />
        </p>
    </fieldset>
</form>
